
/*lagrge screen*/
@media only screen and (min-width: 600px){
    *{
        margin: 0px;
        padding: 0px;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
        font-family: 'Dosis', sans-serif;
        
    }
      
    #dut{
        display: none;
    }
  /*theme*/
  .light-theme {

    /**
     * light theme colors 
     */
  --nav: #667FEA;
  --main: #FFFFFF;
  --inside: #728197;
  --mid:#F4F5F9;
   
  
  }
  
  .dark-theme {
  
    /**
     * dark theme colors 
     */
  
     --nav: #667FEA;
     --main: #2D3748;
     --inside: #EDF2F7;
     --mid:#1A212D;
  
  }
    /*BODY Webkit Scrollbar Styles */
  body::-webkit-scrollbar {
    width: 8px;
    height: 9px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: var(--nav);
    border-radius: 10px;
  }

  body::-webkit-scrollbar-thumb:hover {
    background-color: #444746;
  }

  /* Hide scrollbar track */
  body::-webkit-scrollbar-track {
    background: transparent;
  }

.light-theme::-webkit-scrollbar-track { background: #c5c5c5; }

.dark-theme::-webkit-scrollbar-track { background: #252E40; }


    #loding{
      position: fixed;
      bottom: -96px;
      width: 100%;
      height: 141vh;
      background: #fff url(assets/images/loader.gif) no-repeat center;
      z-index: 99;
      background-size: 60px 60px;
    }
    #ny{
       overflow-y: hidden;
    }
   
    .navbar{
        position: fixed;
        top: -1px;
        width: 100%;
        height: 57px;
        background-color: var(--main);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 223px;
        z-index: 99;
        border-top: 2.99px solid var(--nav);
        border-bottom: 0.3px solid var(--nav);
        border-left: none;
        border-right: none;
        user-select: none;
       
    }

    .lnavbar{
        background-color: #ffff00 !important;
    }
    
    .list{
        display: none;
    }
    .logo{
        font-family: Heavitas;
        padding: 8px 36px;
        font-size: 29.6px;
        color: var(--nav);
        white-space: nowrap;
    }
    
    .logo:hover{
        color: rgb(255, 0, 0);
        transition: 0.95s;
    }
    .mun-icon{
      display: block;
      width: 21px;
    }
    .sun-icon{
      display: none;
      width: 22px;
    }
    .open{
      display: block!important;
    }
    .close{
      display: none!important;
    }
    .burger{
        display: none;
    }
    .web-theme{
        display: grid;
        place-items: center;
        padding: 0px 17px;
    }
    .web-theme:hover{
        background-color: rgb(0, 0, 0);
        transition: 0.83s;
    
    }
    
   .lis a:hover{
      background-color: rgb(0, 0, 0);
      transition: 0.95s;
        }
        .lis{
            display: flex;
            
        }
        .lis a{
            padding: 18px 15px;
            color: var(--nav);
            font-size: 16px;
            white-space: nowrap;
            
        }
       
        .navbar-gap{
            opacity: 0;
            height: 56px;
            width: 100%;
        }
        
      
       
       .main{
        background-color: var(--mid);
        height: auto;
        display: grid;
        justify-content: center;
        background-image: url(assets/images/pattern.png);
        background-size: 134px;
        box-shadow: inset 0 0 9px rgba(0, 0, 0, 0.7);
       }
       
   /*   explore winddow css*/

.container{
  width: 97vw;
  height: 90vh;
  margin: 10px;
 display: grid;
 grid-template-columns: 2fr 143px 1.4fr 1.7fr 6fr;
 transition: grid-template-columns 0.4s ease;
}
.boxing {
    margin: 4px;
    overflow: hidden;
    user-select: none;
    height: fit-content;
    border-radius: 6px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}
.rhead{
    background: var(--nav);
    padding: 4px 0px 4px 9px;
}


.row-container {
  overflow: hidden;
  white-space: nowrap;
  transition: max-height 0.6s ease-in;
  
  }

  .rows {
    padding: 3px 5px;
    white-space: nowrap;
    font-size: 17px;
    display: grid;
    grid-template-columns: 1fr 7fr;
    transition: transform 0.3s ease;
  }
  .default-rows{
    padding: 5px 5px;
    white-space: nowrap;
    font-size: 14px;
    display: grid;
    place-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    color: red;
    background: #FFFFFF;

  }

  .rows:nth-child(even) {
    background: rgb(255, 255, 255);
  }

  .rows:nth-child(odd) {
    background: #E1E7EF;
  }

  p {
    padding: 0px 5px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    
  }
  .rows:hover{
    transform: translateX(5px);
    color: var(--nav);
  }
  .selected{
    transition: background 0.4s;
    background: black!important;
    color: var(--nav);

  }
  .selected:hover{
    transform: translateX(0px)!important;
  }

.cpt{
  font-family: 'NotoSerifBengali';
}
.fulltext{
  text-overflow: inherit;
  overflow: visible;
}

#chapters{
  max-height: auto;
  transition: max-height 0.5s;

}
.cata{
  padding: 5px 5px;
}
.subjs{
  padding: 5px 5px;
}

.llpdfzone{
  background:  var(--nav)!important;
  border-radius: 3px;
}
.llpdfzone:hover{
  background: #f14f4f!important;
}
.llclass{
  background: #f14f4f;

  border-radius: 3px;
  border: 1px solid #f14f4f;
}
.pdfz{
  padding: 5px 5px!important;
}




.skeleton {
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
  transition: opacity 2s;
}


@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}








}

    


  