
/*small screen*/
@media only screen and (max-width: 600px)
{
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
    }
    html {
        height: 100%;
    }
    #ny{
      overflow-y: hidden;
        
    }

    body{
        width: 100%;
        min-height: 100vh;
         
    }
    .light-theme {

      /**
       * light theme colors 
       */
    --nav: #667FEA;
    --main: #FFFFFF;
    --inside: #728197;
    --mid:#F4F5F9;
     
    
    }
    
    .dark-theme {
    
      /**
       * dark theme colors 
       */
    
       --nav: #667FEA;
       --main: #2D3748;
       --inside: #EDF2F7;
       --mid:#1A212D;
    
    }
    #loding{
      position: fixed;
      top: -106px;
      width: 100%;
      height: 117vh;
      background: #fff url(../assets/images/loader.gif) no-repeat center;
      z-index: 99;
      background-size: 41px;
             }
    
    .navbar {
      position: fixed;
      top: -1px;
      width: 100%;
      height: 57px;
      background-color: var(--main);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 3px;
      z-index: 99;
      border-top: 2px solid var(--nav);
      border-bottom: 0.3px solid var(--nav);
      border-left: none;
      border-right: none;
  }
  .logo{
    font-family: Heavitas;
    padding: 4px 11px;
    font-size: 18px;
    color: var(--nav);
    white-space: nowrap;
    margin-right: 138px;
}
    .burger{
      display: grid;
    place-items: center;
    height: 54px;
    width: 56px;
    transition: background 1s;
    opacity: 0.8;
        
    }
    .burger svg{
      
    transition-duration: 1s; 
    }
    
    .onburger{
      background: #0000000f !important;
     

    }
    
    .onburger svg{
    transform: rotate(90deg);
     
    
    }
    .list{
      display: none;
    }
    /* .lis{

    } */
    .lis a{
      display: none;
    }
    .mun-icon{
      display: block;
      width: 23px;
    }
    .sun-icon{
      display: none;
      width: 25px;
    }
    .open{
      display: block!important;
    }
    .close{
      display: none!important;
    }
    .mhome{
      filter: invert(1);
    }
  .p{
    height: 54px;
    width: 0px;
    opacity: 0px;
  }
    
  .listr{
     
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    z-index: 97;
    background: #ffffff87;
    backdrop-filter: blur(9px) !important;
    box-shadow: -4px 0px 50px 0px black;
    height: 100vh;
    width: 66%;
    right: 0px !important;
  }
  .listtop{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 433px;
    transition-duration: 1s;
  }
  .listtop a{
    background-color: #ffffff;
    border-radius: 9px;
    box-sizing: border-box;
    color: #000;
    font-size: 20px;
    width: 65%;
    height: 55px;
    display: grid;
    place-items: center;
    transition-duration: 1s;
  }
  .listt{
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    z-index: 97;
    background: #ffffff87;
    backdrop-filter: blur(0.6px);
    box-shadow: -4px 0px 50px 0px black;
    height: 100vh;
    width: 66%;
    right: -388px;
    transition-duration: 800ms;
  }

 

  .bac{
    display:none;
  }
  .backbt{
    min-width: 100%;
    opacity: 1;
    height: 100vh;
    background: #0000002b;
    position: fixed;
    z-index: 95;
    display: block !important;
  }
  #dut{
      display: none;
  }
  #duti{
       position: fixed;
  }
  .yui{
      height: 400px;
      width: 400px;
  }
 /*  .search-div{
    
} */
.search-bar{
  padding: 0px 14px;
  width: 79%;
  height: 34px;
  border: 0.01px solid #4c4c4b;
  border-radius: 24px;
  font-size: 12px;
  background-color: #0c0c0c;
  outline: 0;
  color: white;
  font-family: monospace;                  
}
/* .mb-theme-cls{

} */
.theme-cls{
  display: grid;
  place-items: center;
  padding: 0px 17px;
}
.theme-cls:hover{
  background-color: var(--linside-color);
  transition: 0.83s;

}
.navbar-gap{
  opacity: 0;
  height: 56px;
  width: 100%;
       }
.main{
  background-color: var(--mid);
  height: 2000px;
  display: grid;
  justify-content: center;
  background-image: url(assets/images/pattern.png);
  background-size: 120px;
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.5);
 }
  

  /*   explore winddow css*/

  .first-rows{
    margin: 16px 0px;
    display: flex;
    flex-direction: column;
    gap: 16px 0px;
  }

.hr1{
  border-top: 0.3px solid var(--nav);
  border-bottom: none;
  border-left: none;
  border-right: none;
  position: relative;
  width: 114%;
  right: 24px;
}
@media only screen and (max-width: 407px)
{
  .hr1{
    width: 99%;
    right: -3px;
  }
  .logo{
    padding: 4px 8px;
    font-size: 13px;
  }

}

/* paste css of mobile */
/*iframe change*/
.iframe-container{
  height: 228px!important;
}
.container{
  width: 98vw;
  height: 60vh;
  margin: 6px;
 display: grid;
 grid-template-columns: 1fr 1fr;
}
.books{
  grid-column: 1/2;
}
.iframe-container{
  grid-column: 1/3;
}
.boxing{
  margin: 3px;
  user-select: none;
  height: fit-content;
  border-radius: 6px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.6);
}
.rhead{
  background: var(--nav);
  padding: 4px 0px 4px 9px;
}


.row-container {
overflow: hidden;
white-space: nowrap;

}

.rows {
  padding: 4px 5px;
  white-space: nowrap;
  font-size: 17px;
  display: grid;
  grid-template-columns: 1fr 7fr;
}
.default-rows{
  padding: 4px 5px;
  white-space: nowrap;
  font-size: 14px;
  display: grid;
  place-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  color: red;
  background: #FFFFFF;

}

.rows:nth-child(even) {
  background: rgb(255, 255, 255);
}

.rows:nth-child(odd) {
  background: #E1E7EF;
}

p {
  padding: 0px 4px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  
}
.rows:hover{
  background: black;
  color: var(--nav);
}
.selected{
  background: black!important;
  color: var(--nav);

}

.selected:hover{
  transform: translateX(0px)!important;
}

.cpt{
font-family: 'NotoSerifBengali';
}
.fulltext{
text-overflow: inherit;
overflow: visible;
}

#chapters{
  max-height: auto;
  transition: max-height 0.5s;

}
.llpdfzone{
  border-radius: 3px;
}
.llclass{
  background:  #f14f4f;
  border-radius: 3px;
} 
.pdfz{
  padding: 5px 5px!important;
}
.pdf{
  font-family: 'NotoSerifBengali';
}
.scrollable{
  max-height: 257px;
  overflow: auto;
}

.skeleton {
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
  transition: opacity 2s;
}


@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.scrollable{
  max-height: 290px;
  overflow: auto;
}








}