*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  .video-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    background-color: black;
  }
  
  .video-container.theater,
  .video-container.full-screen {
    max-width: initial;
    width: 100%;
  }
  
  .video-container.theater {
    max-height: 90vh;
  }
  
  .video-container.full-screen {
    max-height: 100vh;
  }
  
  video {
    width: 100%;
  }
  
  .video-controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 80;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  .video-controls-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: -1;
    pointer-events: none;
  }
  
  .video-container:hover .video-controls-container,
  .video-container:focus-within .video-controls-container,
  .video-container.paused .video-controls-container {
    opacity: 1;
  }
  
  .video-controls-container .controls {
    display: flex;
    gap: .5rem;
    padding: 0.25rem 0.3rem;
    align-items: center;
  }
  
  .video-controls-container .controls button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: .85;
    transition: opacity 150ms ease-in-out;
  }
  
  .video-controls-container .controls button:hover {
    opacity: 1;
  }
  
  .video-container.paused .pause-icon {
    display: none;
  }
  
  .video-container:not(.paused) .play-icon {
    display: none;
  }
  
  .video-container.theater .tall {
    display: none;
  }
  
  .video-container:not(.theater) .wide {
    display: none;
  }
  
  .video-container.full-screen .open {
    display: none;
  }
  
  .video-container:not(.full-screen) .close {
    display: none;
  }
  
  .volume-high-icon,
  .volume-low-icon,
  .volume-muted-icon {
    display: none;
  }
  
  .video-container[data-volume-level="high"] .volume-high-icon {
    display: block;
  }
  
  .video-container[data-volume-level="low"] .volume-low-icon {
    display: block;
  }
  
  .video-container[data-volume-level="muted"] .volume-muted-icon {
    display: block;
  }
  
  .volume-container {
    display: flex;
    align-items: center;
  }
  
  .volume-slider {
    width: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  }
  
  .volume-container:hover .volume-slider,
  .volume-slider:focus-within {
    width: 65px;
    transform: scaleX(1);
  }
  
  .duration-container {
    display: flex;
    align-items: center;
    gap: .25rem;
    flex-grow: 1;
  }
  
  
  
  .video-controls-container .controls button.wide-btn {
    width: 50px;
  }
  
  .timeline-container {
    height: 7px;
    margin-inline: .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  /* preloadbar */
  /* #progress-bar-container {
    position: absolute;
    z-index: 79;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: rgba(100, 100, 100, .5);
  }
  
  #progress-bar {
    height: 100%;
    background-color: rgb(150, 150, 150); 
    width: 0; 
  }
  
  #progress-bar::after {
    content: '';
    display: block;
    height: 100%;
    background-color: rgb(150, 150, 150);
  } */
  
  
  
  .timeline {
    
    background-color: rgba(100, 100, 100, .5);
    height: 3px;
    width: 100%;
    position: relative;
  }
  
  .timeline::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position) * 100%);
    background-color: rgb(150, 150, 150);
    display: none;
  }
  
  .timeline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background-color: red;
    z-index: 80;
  }
  
  .timeline .thumb-indicator {
    --scale: 0;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    left: calc(var(--progress-position) * 100%);
    background-color: red;
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    aspect-ratio: 1 / 1;
    z-index: 80;
  }
  
  .timeline .preview-img {
    position: absolute;
    height: 80px;
    aspect-ratio: 16 / 9;
    top: -1rem;
    transform: translate(-50%, -100%);
    left: calc(var(--preview-position) * 100%);
    border-radius: .25rem;
    border: 2px solid white;
    display: none;
  }
  
  .thumbnail-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  
  .video-container.scrubbing .thumbnail-img {
    display: none;
  }
  
  .video-container.scrubbing .preview-img,
  .timeline-container:hover .preview-img {
    display: none;
  }
  
  .video-container.scrubbing .timeline::before,
  .timeline-container:hover .timeline::before {
    display: none;
  }
  
  .video-container.scrubbing .thumb-indicator,
  .timeline-container:hover .thumb-indicator {
    --scale: 1;
  }
  
  .video-container.scrubbing .timeline,
  .timeline-container:hover .timeline {
    height: 100%;
  }


  .psettings{
    width: 25px!important;
    height: 25px!important;
  }


/* speed-playback-section */
.lf-speedback-cont{
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;

}
.left-sp{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.lefttextrt{
  background: rgba(49, 50, 53, 0.425);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.l-speed-svg-cont{
display: flex;
}
.l-speed-svg-icons{
  width: 12px;
  height: 15px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.l-animate-class-1 {
  transform: translateX(50px);
  transition: transform 0.5s ease-in-out;
}

.middle-pause{
  
  display: grid;
  place-items: center;
}
.loaderrs {
border: 4px solid #f3f3f3;
  border-top: 4px solid #59ace3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1.3s ease infinite;
  margin-bottom: 4px;
  opacity: 0.9;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.cl{
display: none!important;
}
.op{

}
.play-pause-cont{
  margin-bottom: 2px;
  position: relative;
  z-index: 80;
  opacity: 0;
}
.play-svg-cont{
  background: rgba(0, 0, 0, 0.521);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: transform 550ms, opacity 550ms;
}
.pause-svg-cont{
  background: rgba(0, 0, 0, 0.521);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: transform 550ms, opacity 550ms;
}
.animated {
  transform: scale(1.5);
  opacity: 0;
}
.pause-but{
    width: 2.3rem;
    padding: 8px;

}
.play-but{
  width: 2.3rem;
  padding: 8px;
  margin-left: 2px;
}




.right-sp{
  display: grid;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.textrt{
  background: rgba(49, 50, 53, 0.425);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.sppedtext{
  font-family: none;
  font-size: 12px;
  color: #fff;
}
.speed-svg-cont{
display: flex;

}
.speed-svg-icons{
  width: 12px;
  height: 15px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.animate-class-1 {
  transform: translateX(50px);
  transition: transform 0.5s ease-in-out;
}
